/* css file for the overview dashboard. */

body {
    background-color:#E8E8E8;
}

.patient_box {
    background-color:white;
    margin-left:40px;
    margin-bottom:30px;
}

.alert_box {
    margin-right:30px;
    background-color:white;
}

.tab {
    margin-top:13px;
}

.alert-notification {
  cursor: pointer;
}

