body {
}

#mainContainer {
}

.mainContainer {
}


.logo{
margin-top:-15px;
margin-left:-1px;
height:50px;

}
.graphBox {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right:10px;
}

.graphJumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 21px;
}

.graph-panel-body {
  padding-top: 13px;
  padding-bottom: 0px;
}

.graph-row {
  margin-bottom: -15px;
}

.number-box-col {
  padding-left: 5px;
}

.well {
  padding: 0px;
}

.number-well {
  width: 100%;
  height: 92px;
  padding: 0px;
  font-size: 400%;
  margin-bottom: 13px;
}

.number-well-text {
}

.infoBox {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right:10px;
}

.infoJumbotron {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 22px;
  padding-right: 22px;
}

.info-panel {
  height: 100%;
}

.info-title {
  min-height: 19px;
}
.pic-column {
  height: 240px;
  padding-top: 23px;
  padding-right: 0px;
}

.id-column {
  height: 240px;
  padding-left: 20px;
}

.name-text {
  margin-bottom: 21px;
}

.clinical-row {
  height: 229px;
}
.list-group-item {
  padding-bottom: 5px;
  font-size: 150%;
}
